.app-search {
    top: 0;
    left:0;
    width:100%;
    padding: 10px 0 10px 0;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #666;
}
.app-menu .title {
    padding: 5px;
    height: inherit;
}
.app-search .search-field {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid darkgray;
}
.app-menu .menu {
    box-shadow: 0 0;
    text-transform: none;
}
#app-bg {
    background-color: #666;
    background-image: linear-gradient(90deg, rgb(255, 255, 255, .2) 1px, transparent 0), linear-gradient(180deg, rgb(255, 255, 255, .2) 1px, transparent 0), linear-gradient(90deg, rgb(255, 255, 255, .05) 1px, transparent 0), linear-gradient(180deg, rgb(255, 255, 255, .05) 1px, transparent 0);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
}
#marquee {
    border: 1px double darkgray;
    background-color: darkgray;
    background-color: rgba(255, 255, 255, .1);
}
.node-editor .form {
    top: 2.5%;
}
.node {
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
.node.selected {
    border: inherit;
    background-color: orange;
    color: black;
}
.node .body {
    padding: 0 5px 0 5px;
}
.node.selected .body {
    background-color: orange;
    color: black;
}
.node:hover {
    border: none
}
.node .title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.node .tags {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background: inherit;
}
.node .tags:empty {
    display:none;
}
.node .tags span {
    padding: 1px 5px 1px 5px;
    margin: 0 0 0 2px;
    border-radius: 15px;
    background-color: #E0D6C5;
    color: #8D8374;
}
.tag-style-1 {
    border: 1px solid #E0D6C5 !important;
    background-color: #E0D6C5 !important;
    color: #8D8374 !important;
}
.tag-style-2 {
    border: 1px solid #6EA5E0 !important;
    background-color: #6EA5E0 !important;
    color: black !important;
}
.tag-style-3 {
    background-color: #9EDE74 !important;
}
.tag-style-4 {
    background-color: #FFE374 !important;
}
.tag-style-5 {
    background-color: #F7A666 !important;
}
.tag-style-6 {
    background-color: #C47862 !important;
}
.tag-style-7 {
    background-color: #97E1E9 !important;
}
.tag-style-8 {
    background-color: #576574 !important;
    color: white;
}
.tag-style-9 {
    background-color: black !important;
    color: white;
}
.title-style-1 {
    background-color: white;
    color: black;
}
.title-style-2 {
    background-color: #FF6B6B;
    color: white;
}
.title-style-3 {
    background-color: #1CD1A1;
    color: white;
}
.title-style-4 {
    background-color: #2E86DE;
    color: white;
}
.title-style-5 {
    background-color: #FECA57;
    color: white;
}
.title-style-6 {
    background-color: #5F27CD;
    color: white;
}
.title-style-7 {
    background-color: #D15519;
    color: white;
}
.title-style-8 {
    background-color: #576574;
    color: white;
}
.title-style-9 {
    background-color: black;
    color: white;
}