@font-face {
  font-family: yarnFont;
  src: url('../public/droid-sans-mono.ttf');
}
:root{
  --menu-dropdown-max-height: 700px;
}
/* --- ROOT CSS --- */
body {
  overflow: hidden;
  -webkit-user-select: none;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea,
input,
button,
select,
.editor {
  outline: none;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: bottom;
  margin-bottom: 6px;
}

::-webkit-scrollbar {
  background: -webkit-linear-gradient(top, #eee, #f4f4f4 50%, #eee);
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 12px;
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #289aa5;
  border: 1px solid #148691;
}

.templates,
.hidden {
  display: none;
}

/* --- VARIOUS CSS --- */
#app-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  transform-style: preserve-3d;
  z-index: -1;
}

#app {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: default;
  display: none;
}

.icon {
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #eee url('../public/images/icons.png') no-repeat;
  background-blend-mode: difference;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s, background 0.25s;
}

.icon:hover {
  opacity: 1;
  background-color: #fff;
}

/* --- ZOOM --- */

.app-zoom {
  position: absolute;
  bottom: 5px;
  right: 5px;

  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 5px;
  z-index: 10000;
  opacity: 0.2;
}

.app-zoom:hover {
  opacity: 0.6;
}

.app-zoom span {
  width: 22px;
  height: 22px;
  margin: 8px;
  float: left;
  background: #fff url('../public/images/zooms.png') no-repeat;
  display: inline;
  opacity: 0.15;
  cursor: pointer;
  transition: opacity 0.25s;
}

.app-zoom span:nth-child(2) {
  background-position: -32px 0px;
}
.app-zoom span:nth-child(3) {
  background-position: -64px 0px;
}
.app-zoom span:nth-child(4) {
  background-position: -96px 0px;
}
.app-zoom span:hover {
  opacity: 0.5;
}

/* --- SORT --- */

.app-sort {
  position: absolute;
  bottom: 60px;
  right: 5px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 5px;
  z-index: 10000;
  opacity: 0.2;
}

.app-sort:hover {
  opacity: 0.6;
}

.app-sort span {
  width: 22px;
  height: 22px;
  margin: 8px;
  background: #fff url('../public/images/sort.png') no-repeat;
  float: left;
  display: inline;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 0.25s;
}

.app-sort span:nth-child(2) {
  background-position: -32px 0px;
}
.app-sort span:nth-child(3) {
  background-position: -64px 0px;
}
.app-sort span:nth-child(4) {
  background-position: -96px 0px;
}
.app-sort span:hover {
  opacity: 0.5;
}

/* --- UNDO REDO --- */
.app-undo-redo {
  position: absolute;
  bottom: 115px;
  right: 5px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 5px;
  z-index: 10000;
  opacity: 0.2;
}

.app-undo-redo:hover {
  opacity: 0.6;
}

.app-undo-redo span {
  width: 22px;
  height: 22px;
  margin: 8px;
  background: #fff url('../public/images/undo-redo.png') no-repeat;
  float: left;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 0.25s;
}

.app-undo-redo span:nth-child(2) {
  background-position: -38px 0px;
}
.app-undo-redo span:hover {
  opacity: 0.5;
}

/* --- NODE WINDOW CSS --- */

.arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nodes {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.nodes-holder {
  position: absolute;
}

.node {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid #fff;
  cursor: pointer;
  transition: border 0.25s;
}

.node.selected {
  border: 1px solid #49eff1;
}

.node:hover {
  border: 1px solid #49eff1;
}

.node .title {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px 0px 10px;
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  font-weight: bold;
  transition: color 0.25s, background 0.25s;
  overflow: hidden;
}

.node .body {
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  width: 100%;
  height: calc(100% - 48px);
  padding: 8px 8px 8px 8px;
  font-size: 0.8em;
  overflow: hidden;
  font-family: yarnFont;
  color: #666;
  line-height: 1.3em;
}

.node .body p {
  display: inline;
  margin: 0;
  padding: 0;
}

.node:hover .body {
  overflow: auto;
}

.node .body-expanded {
  overflow: auto;
}

.node .tags {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 4px 2px 4px;
  bottom: 0px;
  border-top: 1px solid #ddd;
  background: #EBEBEB;
  overflow: hidden;
}

.node .tags span {
  padding: 4px 8px 4px 8px;
  margin: 4px 4px 0px 0px;
  font-size: 0.8em;
  border-radius: 4px;
  background-color: #E0D6C5;
  color: #8D8374;
}

.node .edit,
.node .delete,
.node .colorUp,
.node .colorDown {
  position: absolute;
  right: 40px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.125s;
}

.node .delete {
  right: 4px;
  background-position: -32px 0px;
}

.node .colorUp {
  width: 16px;
  right: 40px;
  background-position: -112px 0px;
}

.node .colorDown {
  width: 16px;
  right: 56px;
  background-position: -96px 0px;
}

.node:hover .edit,
.node:hover .delete,
.node:hover .colorUp,
.node:hover .colorDown {
  opacity: 1;
}

.node .resize {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  background-color: #ddd;
}

.inactive,
.inactive:hover {
  border: 1px solid #fff;
  cursor: default;
  pointer-events: none;
}
.inactive .edit,
.inactive .delete,
.inactive:hover .edit,
.inactive:hover .delete {
  opacity: 0;
}

.title-container.active>div,
.title-container.active>div:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 0, 98);
}
.tags.active,
.body.active:hover,
.body.active,
.body.active:hover {
  border: 1px solid rgb(255, 0, 98) !important;
}

/* --- SETTINGS --- */
.settings-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10002;
  background: rgba(0, 0, 0, 0.5);
  color: grey;
}

.settings-form {
  position: absolute;
  box-sizing: border-box;
  left: 15%;
  top: 10%;
  width: 70%;
  height: 80%;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #000;
  overflow-y: auto;
  text-align: center;
}

.settings-form h3 {
  margin-bottom: 10px;
}

.settings-row {
  display: flex;
}

.settings-column {
  flex: 50%;
}

.settings-item {
  width: auto;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.settings-label {
  padding-right: 2px;
}

.settings-value {
  flex: 1;
}

.settings-value >input{
  width: -webkit-fill-available;
  margin-right: 2px;
}

.markup {
  flex: 50%;
  display: flex;
}

.markup #theme {
  flex: 60%;
}

.markup button {
  margin-left: 2px;
  flex: 40%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2470F7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2470F7;
  cursor: pointer;
}
/* --- NODE EDITOR --- */

.node-editor {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10002;
  background: rgba(0, 0, 0, 0.5);
}

.node-editor .form {
  position: absolute;
  box-sizing: border-box;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #000;
  overflow: hidden;
}

.node-editor .form .close {
  position: absolute;
  right: 4px;
  top: 4px;
  background-position: -64px 0px;
}

.node-editor .form input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2em;
  color: #666;
  padding: 10px 0px 10px 0px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid #eee;
  font-family: 'Lucida Console', Monaco, monospace;
}

.node-editor .form .bbcode-toolbar {
  float: left;
  width: 100%;
  font-size: 0.8em;
  overflow: auto;
}

.node-editor .form .bbcode-toolbar .bbcode-button {
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 12px;
  background-color: white;
  height: 24px;
  overflow: hidden;
  color: black;
  border: 2px solid #e7e7e7;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
}

.node-editor .form .bbcode-toolbar .bbcode-button:hover {
  background-color: #e7e7e7;
}

.node-editor .form .bbcode-toolbar .bbcode-button:active {
  color: purple;
  background-color: rgb(255, 255, 172);
}

#edit-node-in-vscode {
  float: right;
  font-size: 125%;
}

.title-error {
  color: red;
}

/* SPECIAL CHECKBOX START */
.styled-checkbox input {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
  opacity: 0;
  display: none;
}
.styled-checkbox label {
  padding-right: 4px;
  padding-left: 4px;
  color: grey;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.styled-checkbox input:checked + label {
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  background-color: rgb(255, 248, 143);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0);
}
/* SPECIAL CHECKBOX END */

.node-editor .form .bbcode-toolbar .editor-counter {
  right: 20px;
  width: 100%;
  color: #666;
}

.node-editor .form .editor {
  white-space: pre;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #666;
  font-family: yarnFont;
  cursor: text;
}

.node-editor .form .editor-container {
  margin-top: 2px;
  width: 100%;
  height: calc(100% - 85px);
  float: left;
  overflow: hidden;
  position: relative;
}

.node-editor .form .editor-container .editor-play,
.node-editor .form .editor-container .editor-preview {
  display: none;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  white-space: pre;
  box-sizing: border-box;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #666;
  font-family: yarnFont;
  cursor: pointer;
  height: 100%;
  position: absolute;
}

#editor-preview {
  display: flex !important;
  flex-direction: column !important;
}

.editor-play {
  overflow-y: hidden !important;
}

#commandDebugLabel {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80%;
  width: 100%;
  resize: none;
  font: normal arial, calibri;
}
.story-playtest-answer,
.story-playtest-bubble {
  color: #000000;
  width: 90%;
  border-radius: 24px;
  padding: 10px;
  margin: 7px;
  background: #7df1c1;
  font: large arial, calibri;
  white-space: break-spaces;
}

.story-playtest-answer {
  background: #dedede !important;
  opacity: 0.7;
}

.answer-post {
  margin-right: 0px;
  margin-left: 10%;
  width: 80%;
}

.story-animated-dots {
  display: flex;
}
.story-animated-dots p {
  animation-name: jumping-dots;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.story-animated-dots p:nth-child(2){
  animation-delay: 0.2s;
}
.story-animated-dots p:nth-child(3){
  animation-delay: 0.4s;
}
 @keyframes jumping-dots{
   20%{
     transform: translateY(0px);
   }
   40%{
    transform: translateY(2px);
  }
  60%{
    transform: translateY(3px);
  }
  80%{
    transform: translateY(2px);
  }
 }

#NVrichTextLabel {
  position: fixed;
  bottom: 10px;
  padding: 10px;
}

/* --- EDITOR HIGHLIGHTING --- */

.editor p,
.node .body p {
  display: inline;
  margin: 0;
  padding: 0;
}

.linkname {
  color: #3ecfe9;
}

.linkbounds {
  color: #0ec0e0;
}

.condition {
  color: #e93ecf;
}

.conditionbounds {
  color: #e00ec0;
}

.comment {
  color: #44fe66;
}

/* --- NODE DELETE --- */

.node-delete {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10002;
  background: rgba(0, 0, 0, 0.5);
}

.node-delete .form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 200px;
  height: 120px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #000;
}

.node-delete .form .close {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-position: -64px 0px;
}

/* --- MARQUEE --- */

#marquee {
  z-index: 10000;
  display: none;
  position: absolute;
  pointer-events: none;
  border: 1px solid #49eff1;
  background-color: rgba(29, 94, 95, 0.2);
}

/*-- Add link -------------------------------------------------------------- */
.title {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  line-height: 20px;
  font-weight: bold;
  float: left;
}

/*-- Menu -------------------------------------------------------------- */
.menu:hover .dropdown {
  max-height: var(--menu-dropdown-max-height);
}

input:focus + span + .dropdown {
  max-height: var(--menu-dropdown-max-height);
  overflow-y: auto;
}

.menu .dropdown {
  clear: left;
  overflow: auto;
  max-height: 0px;
  transition: max-height 0.5s;
}

.menu .dropdown .item {
  display: block;
  box-sizing: border-box;
  padding: 7px;
}

.menu .dropdown .search-field {
  box-sizing: border-box;
  float: left;
  display: block;
  width: 100%;
  padding: 10px;
  text-align:center;
}

.add-link {
  position: absolute;
  top: 0;
  right: 5px;
  height: 30px;
  font-family: sans-serif;
  line-height: 1.6em;
  font-size: 0.8em;
  cursor: default;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 10000;
  background-color: white;
  max-width: 40%;
}

.tooltip {
  opacity: 0.7;
  position: absolute;
  text-align: center;
  z-index: 99 !important;
}

.button-bubble {
  width: 20px;
  height: 20px;
  position: absolute;
  overflow-wrap: break-word;
}

.button-bubble:after {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -62px -110px 0;
  font-size: 16px;
  padding: 13px;
  width: 220px;
  z-index: 99 !important;
}

.button-bubble:before {
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: '';
  left: 45%;
  bottom: 30px;
  position: absolute;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
  cursor: not-allowed;
}

.storyPreviewChoiceButton {
  color: #290018;
  font-size: 1.2em;
}

.app-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #000;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.4;
  line-height: 1.2em;
  z-index: -999;
}

#addPwa {
  position: absolute;
  left: 15px;
  bottom: 60px;
  color: #6b3877;
}

.app-info span {
  display: block;
}

.app-title {
  font-weight: bold;
}

.app-version::before {
  content: 'Version ';
}

/*-- New node button ------------------------------------------------------- */
.app-add-node {
  position: absolute;
  bottom: 115px;
  right: 110px;
  width: 35px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding-top: 11px;
  padding-left: 17px;
  z-index: 10000;
  opacity: 0.2;
}

span.add-node:after {
  font-weight: bolder;
  font-size: xx-large;
  color: lightgray;
  content: '+';
}

.app-add-node:hover {
  opacity: 0.6;
}

.add-node:active {
  color: gray;
}

/*-- ----------------------------HTML previews------------------------------- */
.story-playtest-bubble > img,
.editor-preview img {
  max-height: 200px;
  border-radius: 7px;
}
.story-playtest-bubble > img:hover,
.editor-preview img:hover {
  max-height: unset;
  max-width: 90%;
}
/*-- ----------------------------Narrow overrides---------------------------- */
@media screen and (max-width: 900px) {
  .settings-row {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .show-when-narrow {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .hide-when-narrow {
    display: none !important;
  }

  .show-when-narrow {
    display: inline !important;
  }

  .node-editor .form {
    top: 8%;
    height: 92%;
    padding: 2px 2px 5px 2px;
    line-height: 0em;
    border-radius: 4px;
  }

  .node-editor .form input[type='text'] {
    font-size: 1em !important;
    padding: 0px 0px 0px 0px !important;
    margin-top: 0em !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
  }

  .settings-form {
    left: 5% !important;
    top: 5% !important;
    width: 90% !important;
    height: 90% !important;
  }

  .bbcode-button {
    border: 1px solid #e7e7e7 !important;
  }

  .context-menu-visible > .context-menu-list {
    left: 0px !important;
    top: 40px !important;
  }

  .menu:hover .dropdown.shrink-when-narrow {
    max-height: 45vh !important;
  }

  .menu,
  .app-search {
    opacity: 0.85;
  }

  #linkHelperMenuFilter {
    min-height: 35px;
  }

  .tooltip {
    top: 15% !important;
    left: 15% !important;
  }

  .emojipicker-container {
    top: 15% !important;
    left: 15% !important;
  }

  .app-undo-redo span {
    display: inline;
  }

  .app-sort {
    display: none;
  }

  .app-undo-redo {
    bottom: 60px;
  }

  .app-add-node {
    bottom: 60px;
  }

  .settings-item,
  .settings-form {
    padding: 1px;
  }

  .ace_gutter {
    width: 26px !important;
  }
  .ace_gutter-cell {
    padding-left: 0px !important;
    right: unset;
    font-size: small;
  }
  .ace_mobile-button {
    display: none;
  }
  .ace_scroller {
    left: 23px !important;
  }
}
